
@media (min-width: 700px) {
    body {
        width: 700px;
        margin: 0 auto;
    }

    .remove {
        margin-top: 33px;
    }

    #foodFilter {
        float: right;
    }

    #summary {
        float: left;
    }
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
nav {
    line-height: 30px;
    background-color: #eee;
    padding: 5px;
}
section {
    width: 350px;
    padding: 10px;
}

.middle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remove {
    margin-top: 10px;
}

h2 {
    margin-top: 0px;
}
