
@media (min-width: 700px) {
    body {
        width: 700px;
        margin: 0 auto;
    }

    #foodFilter {
        float: right;
        max-width: 40vw;
        margin-right: 10px;
    }

    #summary {
        float: left;
    }

    .foodItems {
    display: flex;
    }

    #showSearch {
        max-width: 300px;
        float: right;
        margin-top: 130px;
    }
}

@media (max-width: 699px) {
    h3 {
        margin: 0px;
        font-size: 0.8em;
    }
    p {
        margin: 0px;
        font-size: 0.7em;
        line-height: 15px;
    }
    h2 {
        margin: 0px;
    }
    h4 {
        margin-top: 5px;
        margin-bottom: 10px;
    }
    h1{
        margin: 5px;
    }
    .foodItems {
        width: 90vw;
    }
    #summary {
        max-width: 95%;
    }
}



.left {
    float: left;
    margin-bottom: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
nav {
    line-height: 30px;
    background-color: #eee;
    padding: 5px;
}
section {
    width: 370px;
    padding: 10px;
}

.middle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remove,
.removeLast {
    margin-left: 20px;
}

h2 {
    margin-top: 0px;
}

h5 {
    margin: 0px;
}
